span.input-group-text
    background-color: #ffffff
span.button
    border-left: none
    border-top: none
    border-bottom: none
    padding: 0 0.4rem
    border-radius: 0.5rem
span.icon
    border-right: none
    border-top: none
    border-bottom: none
    padding: 0 1rem
    border-radius: 0.5rem
input.form-control
    border-right: none
    border-left: none
    border: none
    border-radius: 0.5rem
    padding: 0.75rem 0.2rem
    font-size: 0.85rem
    &:active,
    &:focus
        box-shadow: none
span.input-group-text
    color: grey
    border-radius: 0.1rem
    cursor: pointer
    &:active,
    &:focus
        box-shadow: none
input
    color: #265785
    &::placeholder
        color: #26578572